<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <title>Hot Entry</title>

</head>
<body>

<div layout:fragment="content" class="col-sm-12">

<h3 class="breadcrumb">ホットエントリ</h3>

<h4 class="breadcrumb">案件</h4>
 <div  class="container">
    <div class="table-responsive">
	    <table class="table table-striped table-bordered table-hover table-condensed">
		    <thead>
		      <tr class="active">
		        <th>募集開始</th>
		        <th>募集終了</th>
		        <th>要求スキル</th>
		        <th>案件名</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>2015-09-01</td>
		        <td>2015-09-31</td>
		        <td>ネットワーク構築</td>
		        <td>ＸＣＶ商事</td>
		      </tr>
		      <tr>
		      <td>2015-09-02</td>
		      <td>2015-09-31</td>
		        <td>サーバー仮想化</td>
		        <td>なんとかかんとか</td>
		      </tr>
		      <tr>
		        <td>2015-09-03</td>
		        <td></td>
		        <td>Java</td>
		        <td>ＡＡＡＡ</td>
		      </tr>
		      <tr>
		        <td>2015-09-01</td>
		        <td>2015-09-31</td>
		        <td>ネットワーク構築</td>
		        <td>４４４商事</td>
		      </tr>
		      <tr>
		        <td>2015-09-01</td>
		        <td>2015-09-31</td>
		        <td>ネットワーク構築</td>
		        <td>ＰＰＰ商事</td>
		      </tr>
		    </tbody>
	    </table>
	  </div>
  </div>

<h4 class="breadcrumb">終了見込み</h4>
 <div  class="container">
    <div class="table-responsive">
	    <table class="table table-striped table-bordered table-hover table-condensed">
		    <thead>
		      <tr>
		        <th>終了予定日</th>
		        <th>ニックネーム</th>
		        <th>案件名</th>
		      </tr>
		    </thead>
		    <tbody>
		      <tr>
		        <td>2015-10-01</td>
		        <td>R.H</td>
		        <td>ＡＢＣシステム</td>
		      </tr>
		      <tr>
		      <td>2015-10-11</td>
		        <td>H.N</td>
		        <td>ＸＸＸ証券</td>
		      </tr>
		      <tr>
		        <td>2015-10-11</td>
		        <td>KATO</td>
		        <td>ＹＹＹ会社</td>
		      </tr>
		    </tbody>
	    </table>
	  </div>
  </div>


         <div>
            <p class="bg-primary">HTML5</p>
            <p class="bg-success">CSS3</p>
            <p class="bg-info">JavaScript</p>
            <p class="bg-warning">jQuery</p>
            <p class="bg-danger">Bootstrap</p>
        </div>

                  <ul class="nav nav-tabs">
                    <li class="active"><a href="#">Home</a></li>
                    <li><a href="#">Profile</a></li>
                    <li><a href="#">Messages</a></li>
                  </ul>

                   <ul class="nav nav-pills">
                      <li class="active"><a href="#">Home</a></li>
                      <li><a href="#">Profile</a></li>
                      <li><a href="#">Messages</a></li>
                    </ul>

                    <ul class="nav nav-pills nav-stacked">
                        <li class="active"><a href="#">Home</a></li>
                        <li><a href="#">Profile</a></li>
                        <li><a href="#">Messages</a></li>
                    </ul>

                 <ul class="nav nav-tabs nav-justified">
                  <li class="active"><a href="#">Home</a></li>
                  <li><a href="#">Profile</a></li>
                  <li><a href="#">Messages</a></li>
                </ul>
<form class="form-horizontal">

  <fieldset>
    <legend>Legend</legend>
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">Email</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="Email"/>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password"/>
        <div class="checkbox">
          <label>
            <input type="checkbox"/> Checkbox
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="textArea" class="col-lg-2 control-label">Textarea</label>
      <div class="col-lg-10">
        <textarea class="form-control" rows="3" id="textArea"></textarea>
        <span class="help-block">A longer block of help text that breaks onto a new line and may extend beyond one line.</span>
      </div>
    </div>
    <div class="form-group">
      <label class="col-lg-2 control-label">Radios</label>
      <div class="col-lg-10">
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked=""/>
            Option one is this
          </label>
        </div>
        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" id="optionsRadios2" value="option2"/>
            Option two can be something else
          </label>
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Selects</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br/>
        <select multiple="" class="form-control">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>

</form>

<!--
    <form th:action="@{/customers/create}" th:object="${customerForm}" class="form-horizontal" method="post">
        <fieldset>
            <legend>顧客情報作成</legend>
            <div class="form-group" th:classappend="${#fields.hasErrors('lastName')}? 'has-error has-feedback'">
                <label for="lastName" class="col-sm-2 control-label">姓</label>

                <div class="col-sm-10">
                    <input type="text" id="lastName" name="lastName" th:field="*{lastName}"
                           class="form-control" value="山田"/>
                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"
                              class="help-block">error!</span>
                </div>
            </div>
            <div class="form-group" th:classappend="${#fields.hasErrors('firstName')}? 'has-error has-feedback'">
                <label for="firstName" class="col-sm-2 control-label">名</label>

                <div class="col-sm-10">
                    <input type="text" id="firstName" name="firstName" th:field="*{firstName}"
                           class="form-control" value="太郎"/>
                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"
                              class="help-block">error!</span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-primary">作成</button>
                </div>
            </div>
        </fieldset>
    </form>
    <hr/>
    <table class="table table-striped table-bordered table-condensed">
        <tr>
            <th>ID</th>
            <th>姓</th>
            <th>名</th>
            <th colspan="2">編集</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}">100</td>
            <td th:text="${customer.lastName}">山田</td>
            <td th:text="${customer.firstName}">太郎</td>
            <td>
                <form th:action="@{/customers/edit}" method="get">
                    <input class="btn btn-default" type="submit" name="form" value="編集"/>
                    <input type="hidden" name="id" th:value="${customer.id}"/>
                </form>
            </td>
            <td>
                <form th:action="@{/customers/delete}" method="post">
                    <input class="btn btn-danger" type="submit" value="削除"/>
                    <input type="hidden" name="id" th:value="${customer.id}"/>
                </form>
            </td>
        </tr>
    </table>
 -->
</div>
</body>
</html>