<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
      layout:decorator="layout">
<head>
    <meta charset="UTF-8" />
    <title>login</title>
</head>
<body>

<div layout:fragment="content" class="col-sm-12">

    <div th:if="${param.error}">
        エラー: ユーザ名・パスワードが違います。
    </div>

    <form th:action="@{/assign/login}" method="post">
    <div class="form-group">
      <label for="inputEmail" class="col-lg-2 control-label">UserName</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputEmail" placeholder="UserName" name="username"/>
      </div>
    </div>
    <div class="form-group">
      <label for="inputPassword" class="col-lg-2 control-label">Password</label>
      <div class="col-lg-10">
        <input type="password" class="form-control" id="inputPassword" placeholder="Password" name="password"/>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="submit" class="btn btn-primary" >Login</button>
      </div>
    </div>
    </form>
</div>
</body>

</html>